.lit {
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin: 10px 20px 5px 10px;
}

.trafficlight {
  background: #353f40;
  border: 3px solid rgb(133, 133, 148);
  border-radius: 20px;
  margin: 10px auto 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  max-width: 50%;
}

.red {
  background: radial-gradient(brown, transparent) repeat scroll 0 0 / 5px 5px
    red;
  border: 2px dotted red;
  box-shadow: 0 0 20px rgb(17, 17, 17) inset, 0 0 10px red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.yellow {
  background: radial-gradient(orange, transparent) repeat scroll 0 0 / 5px 5px
    yellow;
  border: 2px dotted yellow;
  box-shadow: 0 0 20px #111 inset, 0 0 10px yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.green {
  background: radial-gradient(lime, transparent) repeat scroll 0 0 / 5px 5px
    green;
  border: 2px dotted lime;
  box-shadow: 0 0 20px #111 inset, 0 0 10px lime;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.light {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blinkRed {
  animation: red 1s infinite;
}

.blinkYellow {
  animation: yellow 1s infinite;
}

.blinkGreen {
  animation: green 1s infinite;
}

@keyframes red {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes yellow {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes green {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
